body{
    background-color: bisque;}
   .img{
    margin-left: 05cm;
   }
   .maree{
    color: blueviolet;
    font-size: medium;
    font-weight: 400px;
   }
   body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
